@media (prefers-color-scheme: light) {
	header {
		background: rgba(255, 255, 255, 0.9);
		color: black;
	}

	select {
		color: black;
		background: white;
		border: 1px solid lightgray;
	}

	select:active {
		background: rgb(232, 232, 232);
	}

	button {
		background: white;
		color: black;
		border: 1px solid lightgray;
	}

	button:active {
		background: rgb(232, 232, 232);
	}
}


@media (prefers-color-scheme: dark) {
	header {
		color: white;
	}

	select {
		color: white;
		background: rgb(41, 41, 41);
		border: 1px solid white;
	}

	select:active {
		background: rgb(33, 33, 33);
	}

	button {
		background: rgb(41, 41, 41);
		color: white;
		border: 1px solid white;
	}

	button:active {
		background: rgb(33, 33, 33);
	}
}

body {
	margin: 0px;
	overflow: hidden;
	user-select: none;
}

header {
	position: fixed;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

select {
	outline: none;
	height: 32px;
	border-radius: 16px;
}

button {
	outline: none;
	margin-left: 5px;
	width: 128px;
	height: 32px;
	border-radius: 16px;
}